*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
img , svg {
    display: block;
    width: 100%;
    height: inherit;
}
svg{
    fill: currentColor;
}
:root{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
    --gris:lightgray;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
.Header{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}
.Header-h1{
    width: 50%;
    max-width: 6.25rem;
}
.Header-wrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem;
}
.Header-nav{
    width: 60%;
    max-width: 18.75rem;
}
.Header-ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: bold;
}
.Header-a{
    transition: all .5s ease;
}

.Header-a:hover{
    text-decoration: underline;
}
.Header-boton{
    display: none;
}
.Main{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Main-wrap{
    width: 90%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
}
.Main-p{
    width: 100%;
    max-width: 43.75rem;
}
.Cuadros{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;

}
.Cuadros-picture{
    transition: transform .5s ease;
}
.Cuadros-picture:hover{
    transform: translateY(-10px);
    border: .125rem solid var(--gris);
}
.Main-boton{
    width: 50%;
    max-width: 9.375rem;
    margin: auto;
}
.Main-a{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    padding: .9375rem;
    transition: all .5s ease;
}

.Main-svg{
    max-width: 1.25rem;
}
.Main-a:hover{
    text-decoration: underline;
}
.Footer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Footer-wrap{
    width: 90%;
    border-top: .125rem solid var(--gris);
    font-size: .75rem;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.Footer-ul{
    max-width: 18.75rem;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Footer-a{
    transition: all .5s ease;
}
.Footer-a:hover{
    text-decoration: underline;
}
@media (max-width:800px){
    .Cuadros{
        grid-template-columns: repeat(3, 1fr);
    }
    .Footer-wrap{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.25rem;
    }
}
@media (max-width:500px){
    .Cuadros{
        grid-template-columns: repeat(2, 1fr);
    }
    .Footer-wrap{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.25rem;
    }
    .Header-nav{
        display: none;
    }
    .Header-boton{
        width: 30%;
        max-width: 2.5rem;
        display: block;
    }
    .Footer-ul{
        flex-direction: column;
        align-items: start;
        gap: .3125rem;
    }
}
@media (min-width:2000px){
    .Header-h1{
        max-width: 12.5rem;
    }
    .Header-ul{
        font-size: 1.5rem;
    }
    .Header-nav{
        max-width: 62.5rem
    }
    .Main{
        font-size: 2rem;
    }
    .Main-p{
        width: 50%;
        max-width: none;
    }
    .Main-wrap{
        gap: 2.5rem;
        padding: 2.5rem;
    }
    .Main-boton{
        width: 30%;
        max-width: none;
    }
    .Main-svg{
        max-width: 3.125rem;
    }
    .Footer-copy{
        font-size: 1.5rem;
    }
    .Footer-ul{
        width: 40%;
        max-width: none;
        font-size: 1.5rem;
    }
}